<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>search</title>
</head>
<body>
<!--<form id="form1" name="form1" action="search" method="post" >-->
    <!--<input name="q" type="text" id="q" />-->
    <!--<input type="submit" name="Submit" value="search" />-->
<!--</form>-->
<div id="main">
    <div class="add_course" id="add_course">
        <form name="mainForm" action="search" method="post">
            <div>
                <span>Baigle:</span><input type="text" id="q" name="q" />
            </div>
            <div>
                <input type="submit" id="submit" value="提交"/>
                <input type="submit" name="cancel" value="取消" onclick="javascript:history.back(-1);"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>