<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Baigle Search | tech and science </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    .sidebar a:link {
      color:#00FF00;
      text-decoration:underline;
    }
    .sidebar a:visited {
      color:#FF0000;
      text-decoration:none;
    }
    .sidebar a:hover {
      color:#000000;
      text-decoration:none;
    }
    .sidebar a:active {
      color:#FFFFFF;
      text-decoration:none;
    }
    .span1{
      color: #3c3c3c;
      font-size: 15px;
    }
    .span2{
      color: #5e5e5e;
      font-size: 13px;
    }
  </style>
</head>

<body>

<!--<table class="table table-hover">-->
  <!--<tr th:each="users : ${searchResults}"><td><b><span th:text="${users.name}"></span></b>      </td><td><span th:text="${users.city}"></span> </td><td><span th:text="${users.email}"></span></td></tr>-->

<!--</table>-->

<div style="width: 800px;">
  <ol>
    <li th:each="Document : ${searchResults}">
      <!--<a href="http://www.w3school.com.cn">W3School</a>-->
      <!--<b><span th:text="${Document.title}"></span></b>-->
      <!--<div id="sidebar"><a href="http://www.jb51.net" target="_blank">链接到脚本之家<a></div>-->
      <!--<div><a href="http://www.jb51.net" target="_blank" class="redlink" >链接到脚本之家一<a></div>-->
      <!--<div id="sidebar"><a href="http://www.jb51.net" target="_blank">链接到脚本之家<a></div>-->

      <div ><b><a th:href="${Document.docurl}" target="_blank" class="sidebar"> <span th:text="${Document.title}"></span></a></b></div>
      <div style="height: 3px;"></div>
      <span class="span1" th:text="${Document.desp}"></span>
      <a th:href="${Document.docurl}" target="_blank"> <span th:text="${Document.docurl}"></span></a>
      <br><span class="span2" th:text="${Document.source}"></span></br>
      <div style="height: 6px;"></div>
    </li>
  </ol>
</div>

  <p th:if="${searchResults.isEmpty()}">
    <strong>Hint no results</strong>: the query like"<a href='/search?q=amy'>amy</a>"
    should return some results.
  </p>
  
  <br />
  <hr />
  Proudly provided by
  <a >charm</a>


</body>

</html>
